.a {
    font-size: 500px;
    color: darkslategray;
}

h3 {
    text-align: center;
    color: #000000;
    text-shadow: #ffff;
    font-size: 40px;
}

.body {
    background-image: url(Imgproyecto/dm.jpg);
    background-size: cover;
    background-color: #000000;
}

.container {
    display: flex; /* Alineación horizontal */
    justify-content: space-between; /* Espacio entre la imagen y el texto */
    align-items: flex-start; /* Alineamos al inicio verticalmente */
    padding: 20px;
}

/* Cuadro con la imagen e información */
.box {
    width: 30%; /* Ajusta el ancho del cuadro de imagen */
    padding: 10px;
    background-color: #2F4F4F;
    text-align: center;
    color: #98FB98; /* Color de texto para que contraste con el fondo */
}

.box img {
    width: 100%; /* Imagen ocupa todo el ancho del cuadro */
}

.box p {
    margin: 5px 0; /* Espaciado entre párrafos */
    font-size: 14px; /* Tamaño del texto para que no sea demasiado grande */
}

.part {
    width: 60%; /* Ajustamos el ancho del cuadro de texto */
    padding: 20px;
    background-color: #DCDCDC;
    text-align: left;
    margin-left: 20px; /* Espacio entre la imagen y el texto */
}

.links {
    font-size: 30px;
    text-align: left;
    text-shadow: cornflowerblue;
}
