body {
    background-image: url('stay-humble-r9wurbd7zk9rhvr8.jpg'); /* Cambia esto por la ruta correcta */
    background-size: cover;
    background-position: center;
}

h3 {
    text-align: center;
    color: #000000;
    text-shadow: #ffff;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.box {
    align-items: center;
    display: inline-block;
    width: 20%;
    padding: 10px;
    background-color: #2F4F4F;
    text-align: center;
    color: #98FB98;
}

.box img {
    width: 100%;
}

.part {
    width: 30%;
    padding: 20px;
    background-color: #DCDCDC;
    text-align: left;
    margin-left: auto;
}

.links {
    font-size: 30px;
    text-align: left;   
    text-shadow: cornflowerblue;
}
