.Etapas{
    text-align: center;
    padding-top: 400px;
}

.Texto{
    text-align: center;
    background-color: ;
}

body{
    background-image: url(Imgproyecto/dm.jpg);
    background-repeat: no-repeat;
    background-position: 75%;
    
}